<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="BusinessCardController as businessCtrl"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <title>{{businessCtrl.user.name}} | Business Card</title>
</head>
<body>

<div class="wrap">
    <div class="fleft">
<form name="myForm">

<!--  Review Form -->
    <h4 class="title">Submit your details</h4>
    <fieldset class="form-group">
        <label>Full Name</label>
        <input ng-model="businessCtrl.user.name" class="form-control"  type="text" placeholder="John Doe" title="Full Name"/>

    </fieldset>
    <fieldset class="form-group">
        <label>Your Occupation</label>
        <input ng-model="businessCtrl.user.occupation" type="text" class="form-control" placeholder="Software Developer" title="Occupation" />
    </fieldset>
    <fieldset class="form-group">
        <label>E-Mail</label>
        <input ng-model="businessCtrl.user.email" type="email" class="form-control" placeholder="johnDoe@example.org" title="Email" novalidate/>
    </fieldset>
    <fieldset class="form-group">
        <label>Address</label>
        <textarea ng-model="businessCtrl.user.address" class="form-control" placeholder="1/2 Abc Street, XYZ City." title="Address"></textarea>

    </fieldset>


    <fieldset class="form-group">
        <label>Contact Number</label>
        <input ng-model="businessCtrl.user.contact" type="tel" class="form-control" placeholder="+9112345678" title="Contact Number" novalidate/>
    </fieldset>


<!--<fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Generate Business Card" />
</fieldset>-->
</form>
        </div>
</div>
<div class="col-md-6 about-right">
    <div>
        <h4 class="title" >Business Card</h4>&nbsp;



        <!--
        <div><h2 class="panel-title">{{businessCtrl.user.name}}</h2>
        </div>
        <p>{{businessCtrl.user.about}}
        </p>
        <p>{{businessCtrl.user.occupation}}
        </p>
        <p>{{businessCtrl.user.email}}
        </p>
        <p>{{businessCtrl.user.contact}}
        </p></div>-->



        <div class="card" style="
   background: -webkit-linear-gradient(top, {{ businessCtrl.user.color1 }} , {{ businessCtrl.user.color2 }});

   color:{{ businessCtrl.user.textcolor1 }};">



            <div class="details" style="margin-left: 10%">
                <h1>{{businessCtrl.user.name | uppercase}}</h1>
                <h5 style="color:{{ businessCtrl.user.textcolor2 }};">{{ businessCtrl.user.occupation | uppercase}}</h5>

                <hr width="80%" style="margin-right: 20%">

                <p style="color:{{ businessCtrl.user.textcolor2 }};">
                    <a ng-href="mailto:{{ businessCtrl.user.email }}">{{ businessCtrl.user.email }}</a>
                </p>
                <p style="color:{{ businessCtrl.user.textcolor2 }};">{{ businessCtrl.user.address }}</p>


                <p style="color:{{ businessCtrl.user.textcolor2 }};">{{ businessCtrl.user.contact}}</p>

                <!--<p style="color:{{ businessCtrl.user.textcolor2 }};">
                    <a ng-href="http://{{ businessCtrl.user.link2 }}">{{ businessCtrl.user.link2 }}</a>
                </p>-->


            </div>
        </div>

        <!--- Second accordion would go here -->
    </div>


</div>

</body>
</html>

